---

---

<section>
  <h3>{h2}</h3>
  <div>
    <p>{description}</p>
    <img src={imageSrc} alt={title} />
  </div>
</section>

<style>
  div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
  }
</style>
