---
import "../styles/style.css";
import { Image } from "astro:assets";
---

<header>
  <div class="grid_2">
    <img class="logo" src="img/logo.png" alt="logo" />
    <div class="grid_3">
      <p>Om Os</p>
      <p>Indsamling</p>
      <p>Nyhedsbrev</p>
    </div>
  </div>
  <div class="grid_2">
    <div>
      <h1>Trylle-Vennerne</h1>
      <h5>Sammen skaber vi en positive og støttende atmosfære i svære tider</h5>
    </div>
    <div>
      <p>HER SKAL VÆRE VIDEO</p>
    </div>
  </div>
</header>

<style>
  header {
    background-image: url("./img/headerbg.png");
    background-color: rgba(251, 212, 191, 1);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    /* padding: 2rem;
    padding-top: 5rem;
    ma */
    margin-top: 10rem;
  }
</style>
