---
import "../styles/style.css";
import { Image } from "astro:assets";
---

<header>
  <div class="grid_2_sticky">
    <div>
      <img class="logo" src="./img/logo.png" alt="logo" />
    </div>
    <div class="grid_3 header_nav">
      <p>Om Os</p>
      <p>Indsamling</p>
      <p>Nyhedsbrev</p>
    </div>
  </div>

  <div class="grid_2">
    <div class="hero">
      <h1>Trylle-Vennerne</h1>
      <h5>Sammen skaber vi en positive og støttende atmosfære i svære tider</h5>
    </div>
    <div>
      <p>HER SKAL VÆRE VIDEO</p>
    </div>
  </div>
</header>

<style>
  header {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-color: rgba(201, 181, 222, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 1rem;
  }

  .logo {
    max-width: 200px;
    max-height: 86px;
    margin-left: 1rem;
  }

  header p {
    font-size: 20px;
    color: rgba(87, 51, 120, 1);
    margin-top: 2rem;
  }

  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
  }
  .grid_2_sticky {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    position: sticky;
    top: 0;
    background-color: rgba(201, 181, 222, 1);
    margin-top: 1px;
    margin-bottom: 2rem;
    padding-top: 1rem;
  }

  .grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }

  h1 {
    font-size: 7rem;
    line-height: 7rem;
    padding-bottom: 1rem;
    color: rgba(238, 227, 217, 1);
  }

  .hero {
    margin-left: 2rem;
  }
</style>
