---
import "../styles/style.css";
---

<section class="grid_3 infocard">
  <div class="card1">
    <img src="" alt="" />
    <h3>Emmas fortælling om TrylleVennerne</h3>
    <p>
      Lille Emma stod med store øjne, da tryllekunstneren vinkede med sin stav.
      Pludselig forsvandt en kanin ud af hans hat og sprang rundt om hende. Hun
      rakte hånden ud, og til sin store overraskelse kunne hun mærke den bløde
      pels. "Er det magi, eller er det virkelighed?" tænkte Emma, mens hun lo og
      klappede i hænderne.
    </p>
  </div>
  <div class="card2">
    <img src="" alt="" />
    <h3>Trylle-vennernes hospitalsbesøg</h3>
    <p>
      Trylle-vennernes dag er en særlig dag, hvor den magiske vennegruppe
      besøger hospitalet for at sprede glæde og håb. Med deres fantastiske
      kræfter bringer de smil på de syge børns ansigter og hjælper både
      patienter og personale med små tryllekunster og opmuntrende ord. Det er en
      dag...
    </p>
  </div>
  <div class="card3">
    <img src="" alt="" />
    <h3>Turbo-Trix på tur</h3>
    <p>
      Trylle-Trix rejser rundt på hospitaler for at sprede magi og glæde. Med
      sine tryllekunster og skøre indslag får han både børn og voksne til at
      glemme smerte og bekymringer, og hans varme smil bliver en kilde til håb i
      de hårde tider.
    </p>
  </div>
</section>

<style>
  .card1 {
    background-color: rgba(241, 236, 233, 1);
  }
  .card2 {
    background-color: rgba(241, 236, 233, 1);
  }
  .card3 {
    background-color: rgba(241, 236, 233, 1);
  }
  .infocard {
    color: rgba(91, 82, 102, 1);
  }
</style>
