---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cirkelcard from "../components/Cirkelcard.astro";
import Infocard from "../components/Infocard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TrylleVenner</title>
  </head>
  <body>
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>

    <Header />

    <main>
      <section>
        <img src="img/lilleheader3.png" alt="" />
        <Cirkelcard />
        <div class="hvemer">
          <h2>Hvem er Tryllevennerne</h2>
          <p>
            TrylleVennerne bringer lys og latter til børn der har brug for
            ekstra støtte. I deres farverige kostumer og med deres sjove numre
            skaber de et frirum, hvor børnene kan glemme hospital og
            indlæggelse. Deres magi ligger ikke kun i trylleri, men i deres evne
            til at sprede glæde og håb.
          </p>
        </div>
      </section>

      <Infocard />

      <Footer />
    </main>

    <script>
      window.addEventListener("scroll", onScroll);

      function onScroll() {
        let winScroll =
          document.body.scrollTop || document.documentElement.scrollTop;
        let height =
          document.documentElement.scrollHeight -
          document.documentElement.clientHeight;
        let scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
      }

      // Ovenfor ses den JS der får det grønne til at bevæge sig HVER GANG man scroller på siden.
      // Den laves med HTML men den skal have hjælp til at gøre det med JS
    </script>

    <style>
      img {
        width: 100%;
        margin-top: -15%;
      }

      .hvemer {
        text-align: center;
        color: rgba(91, 82, 102, 1);
      }
    </style>
  </body>
</html>
